.title {
  text-align: center;
  font-size: 1.5em;
  color: #044104;
}

.box {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.station {
  min-width: 10rem;
  height: 10rem;
  background-color: #068506;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  color: #2de92d;
  font-size: 12.5rem;
  line-height: 0;
}

.search {
  width: 8rem;
}

.inputTime {
  width: 12rem;
  margin: 0 auto;
}